.main-content, .main-content > .full-width {
    --min-padding: 2rem;
    --max-width: 1200px;
    
    display: grid;
    grid-template-columns:
        minmax(var(--min-padding), 1fr)
        minmax(auto, var(--max-width))
        minmax(var(--min-padding), 1fr);
    
    gap: 1em;
}

.main-content > * {
    grid-column: 2;
}

.main-content > .full-width {
    grid-column: 1 / -1;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-dark);
}

.app-wrapper main {
    flex-grow: 1;
    background-color: var(--bg-dark);
}

.container {
    padding: 1em;
    background-color: var(--bg-dark);
}